name: mom
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  audio_service: ^0.18.17
  just_audio: ^0.10.5
  provider: ^6.1.0
  dio: ^5.4.0
  file_picker: ^10.3.8
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
